body {
  margin: 0;
  background: #3b1f14;
  color: white;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: black;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
}
.red {
  color: red;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
nav ul li a.active {
  background: red;
  padding: 6px 12px;
  border-radius: 5px;
}
.hero {
  min-height: 100vh;   
  background-image: url(./assets/pizzaImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;  
  /* display: flex;
  justify-content: flex-start; 
  align-items: center; */
  padding: 60px;
}
.pizza-text h1 {
opacity: 0;
}
.pizza-text  {
height: 100vh;
/* background-image: url(./assets/home_pizza_slider_6.png); */
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: center;
}
.pizza-img {
  position: relative;
}
.pizza-img img {
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  transition: 0.3s;
}
.pizza-img img:hover {
  transform: scale(1.05);
}
.pizza-img .drink {
  position: absolute;
  right: -120px;
  top: 50px;
  width: 150px;
}
.pizza-img .sauce {
  position: absolute;
  right: -100px;
  bottom: -50px;
  width: 120px;
}
.listItem:hover{
  background: red;
  padding: 6px 12px;
  border-radius: 5px;
}


