<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
      <link rel="stylesheet" href="/css/styles.css">
    <script src='/js/main.js'></script>
</head>

<body>
        <header class="header">
        <nav class="nav-container">
            <div class="logo">
                <a href="/">
                <img src="/images/BePizza.png" alt="BePizza Logo">
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/restaurant">Restaurant</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/join">Join our team</a></li>
                <li><a href="/locations">Locations</a></li>
                <li><a href="https://themeforest.net/item/betheme-responsive-multipurpose-wordpress-theme/7758048?ref=muffingroup&irgwc=1&afsrc=1&clickid=QxhSmwUQ6xycTCSS6C2%3AuXroUkpUpP0eTUAP240&iradid=275988&irpid=1289117&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_1289117&utm_medium=affiliate&utm_source=impact_radius">Buy now</a></li>
                <li><a href="/api-page">CRUD API</a></li>
           
            </ul>
        </nav>
    </header>
     <div class="subheader">
        <div class="subheader-content">
            <h1 class="page-title">Join our team</h1>
            <div class="breadcrumb">
                <a href="/">Home</a>
                <span class="separator">»</span>
                <span class="current">Join our team</span>
            </div>
        </div>
    </div>

    <div class="join-team-container">
        <div class="intro-text">
            <p>Fusce ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
        </div>

        <div class="job-listing">
            <div class="job-header">
                <h2 class="job-title">Chef</h2>
                <p class="job-location">Melbourne, Australia</p>
            </div>
            <div class="job-content">
                <div class="job-description">
                    <p>Vestibulum dapibus, mauris nec malesuada fames ac turpis velit. Morcos eac, lorem sit. Faucibus adipiscing varius, Praesent erac lect ipsum, Risque-lorem-assets. Occupe-lorem-visits-Praesent, entt, aemldunlco et, advitsol porta adipisciton niguev vivamu ac.</p>
                </div>
                
                <div class="job-details">
                    <div class="benefits-column">
                        <h3>Benefits</h3>
                        <ul>
                            <li>Knowledge of Microsoft</li>
                            <li>Able to run resume</li>
                            <li>Knowledge of C/C standards</li>
                            <li>Knowledge of MS & Office</li>
                            <li>Knowledge of restaurant web design</li>
                        </ul>
                    </div>
                    
                    <div class="offer-column">
                        <h3>Offer</h3>
                        <ul>
                            <li>Internet via broadband company</li>
                            <li>Interesting projects for leading brands</li>
                            <li>Opportunity for professional development</li>
                            <li>Intensive option</li>
                        </ul>
                    </div>
                </div>

                <div class="apply-note">
                    <p><strong>Those interested and meet the above conditions, please contact CV together will personal details by e-mail address:</strong></p>
                    <a href="mailto:team@bepizza.com" class="email-link">team@bepizza.com</a>
                </div>
            </div>
        </div>

        <div class="job-listing">
            <div class="job-header">
                <h2 class="job-title">Pizza Regular</h2>
                <p class="job-location">Melbourne, Australia</p>
            </div>
            <div class="job-content">
                <div class="job-description">
                    <p>Utriculos ultlamcorper neque. Nullam cursus lacus aliquot. Occupy suscipit ac porttitor lacus. Aliquam-sem id. Maecenas nulla neque. lobos, aliturpis-vestigee visuam quam proin ac nulla ulcorper. Sed mol lictius sit magna. Maecena et elementn, quam dolor.</p>
                </div>
                
                <div class="job-details">
                    <div class="benefits-column">
                        <h3>Benefits</h3>
                        <ul>
                            <li>Knowledge of Adobe Creative Suite</li>
                            <li>creativity, communications, organizin</li>
                            <li>Knowledge of environment</li>
                            <li>Experience in country guideto</li>
                            <li>Knowledge of restaurant web design</li>
                        </ul>
                    </div>
                    
                    <div class="offer-column">
                        <h3>Offer</h3>
                        <ul>
                            <li>Internet via broadband company</li>
                            <li>Interesting projects for leading brands</li>
                            <li>Opportunity for professional development</li>
                            <li>Intensive option</li>
                        </ul>
                    </div>
                </div>

                <div class="apply-note">
                    <p><strong>Those interested and meet the above conditions, please contact CV together will personal details by e-mail address:</strong></p>
                    <a href="mailto:team@bepizza.com" class="email-link">team@bepizza.com</a>
                </div>
            </div>
        </div>
    </div>

    <div class="cta-section">
        <div class="cta-content">
            <p class="cta-text">Aliquam enat ac ipsum, lobortis aliquam plared.</p>
            <p class="cta-subtext">Dunetate tuben mollis dignissim sed.</p>
        </div>
    </div>
     <footer class="footer">
        <div class="footer-content">

            <div class="copyright">
                <p>© 2023 BePizza by Muffin Group | All Rights Reserved | Powered by WordPress</p>
            </div>
        </div>
    </footer>
    
</body>
</html>

